@font-face {
  font-family: Oswald;
  src: url(../font/Oswald/static/Oswald-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Oswald-bold;
  src: url(../font/Oswald/static/Oswald-Bold.ttf) format("truetype");
}

:root {
  /*!Fonts*/
  --font-body-family: "Oswald", sans-serif;
  --font-body-family-bold: "Oswald-bold", sans-serif;

  /*!Generale*/
  --background-color: #da6202;
  --h1a: #fff;
  --backgroundColorIndexContent: #000;
  --indexContentColorH2P: #fff;

  /*!Header*/
  --headerBackgroundColor: #000;
  --headerTxtColor: #fff;

  /*!Hamburger Menu*/
  --closedHamburgerColor: #fff;
  --openedHamburgerColor: #fff;
  --closedHamburgerTxtColor: #fff;
  --openedHamburgerTxtColor: #fff;
  --HMItemTxtColor: #fff;
  --HMItemBgColor: #262262;
  --HMItemBgHover: #090816;
  --visitedLinkColor: #f9ff00;

  /*!Breadcrumb*/
  --breadcrumbBgColor: #7a0000;
  --breadcrumbTxtColor: #fff;

  /*!Title section*/
  --registerNowBtnBgColor: #7a0000;
  --registerNowBtnBorderColor: #000;
  --registerNowBtnTxtColor: #fff;
  --titleSectionBgColor: #ff9947;
  --textShadowPrimary: #fff;
  --textShadowSecondary: #000;

  /*!Titolo pagina*/
  --pageTitleBgColor: #000;
  --pageTitleTxtColor: #fff;

  /*!Cards*/
  --cardTxtColor: #fff;
  --cardBgColor: #000;
  --visitedCard: #600d0d;
  --linkColor: white;
  --cardDescription: white;
  --h2TitleCard: #cf8607;

  /*!Form*/
  --backgroundColorInputFieldLabel: #fff;
  --formBtnBgColor: #000;
  --formBtnTxtColor: #fff;
  --formLegendTxtColor: #fff;
  --disabledInputBgColor: #d3d3d3;
  --formInputBgColor: #fff;
  --backgroundColorRegistratiLogin: #000;
  --colorRegistratiLogin: #fff;
  --colorAConfirmButton :#fff;

  /*!Btn cancel*/
  --backgroundColorCancelBtn: #fff;
  --colorCancelBtn: #000;
  --borderColorCancelBtn: #000;

  /*!Footer*/
  --footerBgColor: #000;
  --footerTxtColor: #9f9f9f;
  --footerVisitedLinkColor: white;

  /*!Tabelle*/
  --headTable: #8f2444;
  --tableBgColor: #fff;
  --tabTitleBgColor: #7a0000;
  --tabTitleTxtColor: #fff;
  --tableHeadBgColor: #000;
  --tableHeadTxtColor: #fff;

  /*!Tabs navigazione Profilo*/
  --tabsBgColor: rgba(122, 0, 0, 0.55);
  --tabsTxtColor: #fff;
  --currentTabBgColor: #7a0000;
  --currentTabTxtColor: #fff;

  /*!Pulsante logout*/
  --deleteBtnBgColor: #7a0000;
  --deleteBtnBorderColor: #000;

  /*!Messaggio di errore*/
  --errorMessageBgColor: #b40000;
  --errorMessageTxtColor: #fff;

  /*!Messaggio di successo*/
  --successMessageBgColor: #195919;
  --successMessageTxtColor: #fff;

  /*!Nessun risultato*/
  --emptyResultBgColor: #000;
  --emptyResultTxtColor: #fff;

  /*!paragrafo Qr*/
  --paragraphQrBgColor: #000;
  --paragraphQrTxtColor: #fff;

  /*!Pagina Admin*/
  --adminPageBackground: #b5a382;
  --titleLabel : rgb(0, 0, 0);
  --metricaBgColor: #fff;
  --metricaTxtColor: #000;
  --metricaBorderColor: #7a0000;
  --metricaTitleBgColor: #7a0000;
  --metricaTitleTxtColor: #fff;
  --boxShadowLiMetrica: #000;
  --liMetricaA: #0000ff;

  /*!Pagina Chi Siamo*/
  --backgroundColorComponentiDt: #000;
  --colorComponentiDt:#fff;
  --backgroundColorComponentiDd: #7a0000;
  --borderColorComponentiDt: #000;
  --borderColorComponentiDd: #000;
  --borderColorComponenteImg: #fff;
  --colorComponente: #fff;

  /*!Pagina Abbonamenti*/
  --colorPDataAbbonamenti: #fff;

  /*!Pagina macchinari*/
  --borderSelect: #000;
}

/*!***********************/

/*! STILI GENERALI */

/*!***********************/


* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-color);
  font-family: var(--font-body-family);
  font-size: 100%;
  line-height: 1.5em;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 2fr auto;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
}

header,
main {
  width: 100vw;
}

main {
  height: 100%;
}

.skip-content, .screen-reader-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: 0;
}

.skip-content:focus {
  left: 0px;
  z-index: 999;
  width: auto;
  height: auto;
  background-color: white;
  padding: 0.5em;
}

#error-message {
  background-color: var(--errorMessageBgColor);
  border-radius: 1em;
  color: var(--errorMessageTxtColor);
  margin: 0.5em auto;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

#success-message {
  background-color: var(--successMessageBgColor);
  border-radius: 1em;
  color: var(--successMessageTxtColor);
  margin: 0.5em auto;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

a.torna-su{
  border-radius: 2em;
  background-color: var(--breadcrumbBgColor);
  color: var(--breadcrumbTxtColor);
  display: block;
  width: 10em;
  margin: 8em auto 0 auto;
  text-align: center;
  padding: 0.5em;
}

/*!***********************/

/*! BREADCRUMB */

/*!***********************/

#breadcrumb {
  align-items: center;
  background-color: var(--breadcrumbBgColor);
  color: var(--breadcrumbTxtColor);
  display: flex;
  padding-left: 1em;
}

#breadcrumb ol > li:not(:first-child)::before {
  content: ">>";
  padding: 0 0.5em;
}

#breadcrumb ol > li:first-child {
  padding-left: 0.5em;
}

#breadcrumb li {
  display: inline-block;
  padding: 0.5em 0;
}

#breadcrumb a {
  color: var(--breadcrumbTxtColor);
  text-decoration: underline;
}

.container {
  max-width: 100%;
}

/*!***********************/

/*! NavBar & Hamburger menu */

/*!***********************/

#nav-principale {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

#nav-principale .container {
  padding: 0 1.5em;
}

#nav-principale ul {
  background-color: var(--HMItemBgColor);
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
}

#nav-principale ul li a,
#nav-principale ul li > span {
  color: var(--HMItemTxtColor);
  display: block;
  font-family: var(--font-body-family);
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s ease-in;
}

#nav-principale ul li .currentPage,
#nav-principale ul li .currentPage > span {
  color: var(--visitedLinkColor);
  padding: 0.5em;
}

#nav-principale ul li a:visited,
#nav-principale ul li a:visited span {
  color: var(--visitedLinkColor);
}

#nav-principale ul li a:focus,
#nav-principale ul li a:hover {
  background: var(--HMItemBgHover);
}

.logo {
  max-height: 10em;
  width: 100%;
  height: 100%;
}

.logo-holder {
  padding: 1em 0.5em 1em 1em;
  width: 25%;
}

.main-nav {
  background: var(--HMItemBgColor);
  grid-column: 1 / span 2;
  width: 100%;
}

#hamburger {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  font-size: 1em;
  justify-content: center;
  padding-right: 3%;
}

#hamburger span {
  color: var(--closedHamburgerTxtColor);
  margin-right: 0.5em;
}

#hamburger svg {
  background: none;
  height: 3em;
  width: 3em;
  fill: var(--closedHamburgerColor);
  padding-right: 2%;
}

#hamburger #expanded {
  display: none;
}

#hamburger[aria-expanded="true"] {
  color: var(--closedHamburgerTxtColor);
}

#hamburger[aria-expanded="true"] svg {
  background-color: transparent;
  fill: var(--openedHamburgerColor);
}

#hamburger[aria-expanded="true"] span {
  color: var(--openedHamburgerTxtColor);
  position: static;
}

#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}

#hamburger[aria-expanded="false"] + .main-nav,
.js-enabled .main-nav {
  display: none;
}

.logo-title-holder {
  display: flex;
  align-items: center;
}

.logo-title-holder > a,
.logo-title-holder > span {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logo-title-holder .span {
  max-width: 10%;
}

.site-title {
  font-family: var(--font-body-family);
  margin-left: 0.5em;
  color: var(--h1a);
  text-decoration: none;
}

#nav-principale .container {
  padding: 0.5em;
}

#nav-principale ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-principale ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!***********************/

/*! CARDS */

/*!***********************/

.card {
  border-radius: 2.5em;
  display: block;
  filter: drop-shadow(0 0 10px rgba(122, 0, 0, 100));
  height: 15em;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 100%;
}

a:active,
a:focus,
a:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in;
}

.section {
  align-items: center;
  color: var(--cardTxtColor);
  display: flex;
  font-size: 1.3em;
  font-weight: 700;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card:before {
  border-radius: 2.5em;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#corsi:before {
  background: url(../imgs/courses.webp) 50% / cover;
}

#macchinari:before {
  background: url(../imgs/macchinari.webp) 50% / cover;
}

#abbonamenti:before {
  background: url(../imgs/abbonamenti.webp) 50% / cover;
}

#chiSiamo:before {
  background: url(../imgs/chiSiamo.webp) 50% / cover;
}

#schede:before {
  background: url(../imgs/schede.webp) 50% / cover;
}

.card .description {
  background: var(--cardBgColor);
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  left: 0;
  opacity: 0.8;
  padding-top: 0.5em;
  position: absolute;
  row-gap: 10%;
  text-align: center;
  width: 100%;
}

a.card:visited .description {
  background-color: var(--visitedCard);
}

.card .description h3,
.card .description h2 {
  color: var(--cardTxtColor);
  font-size: clamp(2em, 10vw, 3em);
  font-weight: 700;
}

#cards-container {
  flex-direction: column;
  list-style: none;
  margin: 0 auto 3em;
}

#cards-container > ul {
  display: grid;
  list-style: none;
  margin: 1.5em;
  row-gap: 1.5em;
}

.titleSection {
  align-items: center;
  background-color: var(--titleSectionBgColor);
  border: 2px solid var(--breadcrumbBgColor);
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: center;
  margin: 5em auto 2em;
  max-width: 60%;
  padding: 1.5em 1.5em 0.7em;
  row-gap: 1.5em;
}

#mainHomePage {
  background: url(../imgs/background-nobg.webp) no-repeat 50%;
  background-position-y: 5em;
}

.normalPageTitle {
  background-color: var(--pageTitleBgColor);
  color: var(--pageTitleTxtColor);
  padding: 1em 0;
  text-align: center;
  width: 100%;
  line-height: 1.3em;
}

h1.homePageTitle {
  font-family: var(--font-body-family-bold), sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: -2px 0 var(--textShadowPrimary), 0 1px var(--textShadowSecondary), 1px 0 var(--textShadowSecondary), 0 -1px var(--textShadowSecondary);
}

.titleSection p {
  font-size: 1.5em;
  text-align: center;
}

a.registerNow {
  background-color: var(--registerNowBtnBgColor);
  border: 1px solid var(--registerNowBtnBorderColor);
  color: var(--registerNowBtnTxtColor);
  font-weight: 700;
  padding: 0.5em;
  text-align: center;
  text-decoration: underline;
  width: 60%;
}

.index-content {
  background-color: var(--backgroundColorIndexContent);
  padding: 1.5em 0.5em;
}

.index-content h2 {
  font-size: 2em;
}

.index-content h2,
.index-content p {
  color: var(--indexContentColorH2P);
  text-align: center;
}

.index-content p {
  padding-top: 0.7em;
}

section#find-us h2 {
  margin-top: 1em;
}

/*!***********************/

/*! FOOTER */

/*!***********************/

footer {
  background-color: var(--footerBgColor);
  font-size: 1.2em;
  bottom: 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 50% 50%;
  margin-top: 3em;
  padding: 1em;
}

footer span {
  color: var(--footerTxtColor);
  font-size: 1.2em;
  font-weight: 700;
}

footer,
footer a {
  color: var(--footerTxtColor);
}

footer a:visited {
  color: var(--visitedLinkColor);
}

.instagram-link {
  background: url("../imgs/footer_logos/instagram.svg") no-repeat;
  background-size: contain;
  padding-left: 2em;
}

.facebook-link {
  background: url("../imgs/footer_logos/facebook.svg") no-repeat;
  background-size: contain;
  padding-left: 2em;
}

.twitter-link {
  background: url("../imgs/footer_logos/twitter.svg") no-repeat;
  background-size: contain;
  padding-left: 2em;
}

#socials ul {
  list-style: none;
}

#socials li {
  display: inline-block;
  margin: 0.5em;
  margin-left: 0em;
}

#socials li,
#socials li:not(:last-child) {
  padding-right: 0.5em;
}

/*!***********************/

/*! PAGINA LOGIN */

/*!***********************/
.user-data-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.user-data-container > fieldset {
  border: none;
  flex-direction: column;
  margin: 1em 0;
  row-gap: 2em;
}

.input-field input,
.user-data-container input {
  border: none;
  border-top-right-radius: 0.3em;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1.2em;
  height: 3em;
  padding-right: 0.5em;
  text-align: right;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-data-container input:disabled,
.user-data-container input[readonly] {
  background-color: var(--disabledInputBgColor);
}

 input[type="submit"] {
  text-align: center;
  border-radius: 0.5em;
}

 input[type="submit"]:hover,
 input[type="submit"]:focus,
 input[type="submit"]:active {
  transform: scale(1.06);
  transition: 0.2s ease-in;
}


.user-data-container legend {
  color: var(--formLegendTxtColor);
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.confirmButtons {
  column-gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1em;
}

.confirmButtons a{
  color: var(--colorAConfirmButton);
}

.confirmButtons,
.submitBtn {
  align-items: center;
  display: flex;
  text-align: center;
}

.submitBtn {
  background-color: var(--formBtnBgColor);
  border: none;
  border-radius: 0.5em;
  color: var(--formBtnTxtColor);
  flex-grow: 1;
  font-size: large;
  height: 2.5em;
  justify-content: center;
  min-width: 10em;
  outline: none;
  text-decoration: none;
  padding: 0.2em;
}

.confirmButtons p {
  flex-grow: 1;
  text-align: center;
}

#datiPersonali {
  flex: 1 1 0;
  flex-wrap: wrap;
  width: 100%;
}

.registrati-login {
  background-color: var(--backgroundColorRegistratiLogin);
  color: var(--colorRegistratiLogin);
  border: 1px solid var(--borderColorCancelBtn);
  border-radius: 0.3em;
  flex-grow: 1;
  padding: 0.5em 0;
  width: inherit;
}

.registrati-login a:visited{
  color: var(--visitedLinkColor);
}

/*!***********************/

/*! PAGINA ABBONAMENTI */

/*!***********************/

section.data-abbonamenti {
  column-gap: 3em;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  color: var(--cardTxtColor);
}

.data-abbonamenti p{
  color: var(--colorPDataAbbonamenti);
}

#abbonamento_1:before {
  background: url(../imgs/abbonamenti_images/1.webp) 50% / cover;
}

#abbonamento_2:before {
  background: url(../imgs/abbonamenti_images/2.webp) 50% / cover;
}

#abbonamento_3:before {
  background: url(../imgs/abbonamenti_images/3.webp) 50% / cover;
}

/*!***********************/

/*! PAGINA COMPRA ABBONAMENTI */

/*!***********************/

#container-abbonamento-login {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
  justify-content: center;
  align-items: center;
}

#container-abbonamento-login .card {
  flex: 1 1 0;
  margin: 1em;
  max-width: 30em;
  min-width: 17em;
  min-height: 20em;
}

#container-abbonamento-login > form {
  flex: 1 1 0;
  min-width: 32em;
  margin: 1em;
}

#container-abbonamento-login section.data-abbonamenti {
  column-gap: 1em;
}

#data-scadenza-cvc {
  display: flex;
  flex-direction: column;
}

/*!***********************/

/*! PAGINA PROFILO SCHEDE*/

/*!***********************/

p.empty-result {
  background: var(--emptyResultBgColor);
  color: var(--emptyResultTxtColor);
  width: 80%;
}

.tabTitle,
p.empty-result {
  border-radius: 0.5em;
  margin: 0 auto 2em auto;
  padding: 0.5em;
  text-align: center;
}

.tabTitle {
  background-color: var(--tabTitleBgColor);
  color: var(--tabTitleTxtColor);
  width: fit-content;
  margin-bottom: 0.5em;
}

#schede-utente {
  display: flex;
  justify-content: center;
}

#tabs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0.7em;
  width: 100%;
}

#tabs li {
  background-color: var(--tabsBgColor);
  border: 1px solid var(--currentTabBgColor);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  flex-grow: 1;
  padding: 0.7em;
  text-align: center;
}

#tabs li a {
  color: var(--tabsTxtColor);
  text-decoration: underline;
}

#tabs .currentTab {
  background-color: var(--currentTabBgColor);
}

.currentTab span {
  color: var(--currentTabTxtColor);
}

#tabSchede::before {
  background-image: url(../imgs/profile_icons/schede.webp);
}

#tabAbbonamenti::before,
#tabSchede::before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  filter: invert(100%);
  min-height: 50%;
  width: 100%;
}

#tabAbbonamenti::before {
  background-image: url(../imgs/profile_icons/abbonamenti.webp);
}

#tabCertificato::before {
  background-image: url(../imgs/profile_icons/certificato.webp);
}

#tabCertificato::before,
#tabProfilo::before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  filter: invert(100%);
  min-height: 50%;
  width: 100%;
}

#tabProfilo::before {
  background-image: url(../imgs/profile_icons/profile.webp);
}

#container-scheda-utente {
  display: flex;
  flex-direction: column;
  max-width: 50em;
}

.schede-container {
  list-style: none;
  margin: 2em 0.5em 0 0.5em;
}

.schede-container > li {
  margin: 1em 2em;
}

.scheda {
  list-style: none;
}

.schede-container h2 {
  background-color: var(--headerBackgroundColor);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color: var(--headerTxtColor);
  padding: 0.5em;
  text-align: center;
}

table {
  border-collapse: collapse;
  font-family: var(--font-body-family);
  width: 100%;
}

table td,
table th {
  border: 1px solid var(--headerBackgroundColor);
  padding: 0.7em;
  text-align: left;
}

table th {
  background-color: var(--headTable);
  color: var(--headerTxtColor);
}

table tr {
  background-color: var(--tableBgColor);
}

table caption {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
}

/*!***********************/

/*! PAGINA PROFILO ABBONAMENTI */

/*!***********************/

.table-abbonamenti {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.table-abbonamenti thead th {
  background-color: var(--tableHeadBgColor);
  border-top: none;
}

.table-abbonamenti thead th:first-child {
  border-left: none;
  border-top-left-radius: 2em;
}

.table-abbonamenti thead th:last-child {
  border-right: none;
  border-top-right-radius: 2em;
}

.table-abbonamenti th:first-child {
  text-align: center;
}

.caption-nascosta {
  border: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.tb-container {
  padding: 0 0.5em;
  max-width: 50em;
}

/*!***********************/

/*! PAGINA PROFILO PROFILO */

/*!***********************/

.deleteBtn {
  background-color: var(--deleteBtnBgColor);
  border: 1px solid var(--deleteBtnBorderColor);
  border-radius: 0.5em;
  color: var(--formBtnTxtColor);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 0.3em 0.2em;
  width: 79%;
}

.deleteBtn,
.cancelBtn {
  text-align: center;
  text-decoration: none;
  max-width: 30em;
}

.confirmButtons .cancelBtn {
  background-color: var(--backgroundColorCancelBtn);
  color: var(--colorCancelBtn);
  border: 1px solid var(--borderColorCancelBtn);
  border-radius: 0.3em;
  flex-grow: 1;
  padding: 0.5em 0;
  width: inherit;
}

.form-modifica-psw {
  margin-top: 3em;
}

.qr_code {
  margin: 0.5em 2em 2em;
}

#sectionQrCode {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#sectionQrCode p {
  background-color: var(--paragraphQrBgColor);
  border-radius: 0.5em;
  color: var(--paragraphQrTxtColor);
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.input-field {
  border-bottom: 5px solid;
  display: grid;
  flex-flow: row-reverse;
  grid-template-columns: 35% 65%;
  margin: 1em 0;
}

.input-field label {
  background-color: var(--backgroundColorInputFieldLabel);
  display: flex;
  flex-flow: column;
  font-family: osvald-bold, sans-serif;
  font-weight: 700;
  justify-content: end;
  padding: 0.3em;
  text-align: right;
}

.input-field label:first-child {
  border-top-left-radius: 0.3em;
  text-align: left;
}

.input-field label:last-child {
  border-top-right-radius: 0.3em;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2em;
  padding-right: 0.5em;
  padding-top: 0;
}

/*!***********************/

/*! PAGINA PROFILO CERTIFICATO */

/*!***********************/

caption#caption-certificato {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 0.5em;
}

.certificatoCell {
  background-color: var(--tableBgColor);
}

.certificatoCell a::after {
  content: "";
  display: inline-block;
  background-image: url(../imgs/profile_icons/pdf_icon.webp);
  background-position-x: 0.5em;
  width: 2em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
}

#form-certificato {
  width: 100%;
  margin: 1em auto;
}

#form-certificato fieldset {
  border: none;
  width: 80%;
  margin: 0 auto;
}

#form-certificato input[type="submit"] {
  background-color: var(--formBtnBgColor);
  border-radius: 0.5em;
  color: var(--formBtnTxtColor);
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
}

#form-certificato input {
  background-color: var(--formInputBgColor);
  padding-top: 0.5em;
  border-radius: 0em;
  border-top-right-radius: 0.3em;
}

/*!**************************/

/*! PAGINA ADMIN landing */

/*!**************************/

#mainAdmin {
  background-color: var(--adminPageBackground);
}

ul.container-metriche {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  padding: 0 1.5em 1.5em;
  margin-top: 4em;
}

li.metrica {
  align-items: center;
  background-color: var(--metricaBgColor);
  border: 3px solid var(--metricaBorderColor);
  border-radius: 1em;
  box-shadow: 0 0 5px var(--boxShadowLiMetrica);
  display: flex;
  flex: 1 1 10em;
  flex-direction: column;
  justify-content: center;
  min-height: 10em;
  overflow: hidden;
  padding: 0 0.5em 0.5em;
}

li.metrica h3 {
  background-color: var(--metricaTitleBgColor);
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: var(--metricaTitleTxtColor);
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
}

li.metrica p {
  font-size: clamp(3em, 5vw, 5em);
  margin: auto;
  text-align: center;
}

li.metrica a {
  color: var(--liMetricaA);
  text-align: center;
  text-decoration: underline;
  width: max-content;
}

li.metrica table {
  max-width: 70%;
}

li.metrica table thead th:first-child{
  border-top-left-radius: 1.5em;
  border:none;
}

li.metrica table thead th:last-child{
  border-top-right-radius: 1.5em;
  border:none;
}

img {
  max-height: 33em;
  max-width: 21em;
  object-fit: cover;
  width: 100%;
}

/************************/
/* PAGINA CORSI */
/************************/

.card-corso {
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  border-radius: 2.5em;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
  background-color: var(--cardBgColor);
  flex-direction: column;
  box-shadow: 0 0 2.5em rgba(122, 0, 0, 100);
  margin: 2em auto;
  width: 85%;
  max-width: 60em;
  height: fit-content;
}

.card-corso-description h2 {
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
  color: var(--h2TitleCard);
}

.card-corso-description h3 {
  font-size: 1.4em;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

#emoji-man-cartwheeling::after,
#emoji-man-cartwheeling::before {
  content: "🤸‍♂️";
}

#emoji-man-lifting-weights::after,
#emoji-man-lifting-weights::before {
  content: "🏋";
}

.emoji-person::before {
  content: "👱";
}

.emoji-person::after {
  content: "👵";
}

#emoji-person-in-lotus-position::after,
#emoji-person-in-lotus-position::before {
  content: "🧘";
}

#emoji-trophy::after,
#emoji-trophy::before {
  content: "🏆";
}

#emoji-boxing-glove::after,
#emoji-boxing-glove::before {
  content: "🥊";
}

#emoji-wrestling::after,
#emoji-wrestling::before {
  content: "🤼";
}

#emoji-ballet-shoes::after,
#emoji-ballet-shoes::before {
  content: "🩰";
}

#emoji-woman-dancing::after, 
#emoji-woman-dancing::before {
  content: "💃";
}

#emoji-man-dancing::after, 
#emoji-man-dancing::before {
  content: "🕺";
}

.emoji-time::before {
  content: "🕘";
}

.emoji-time::after {
  content: "📅";
}

#corso-pilates::before {
  background: url(../imgs/corsi_image/pilates.webp) center/cover;
  content: "";
  height: 12em;
  display: block;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#corso-yoga::before {
  background: url(../imgs/corsi_image/yoga.webp) center/cover;
  content: "";
  height: 12em;
  display: block;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#corso-box::before {
  background: url(../imgs/corsi_image/box.webp) center/cover;
  content: "";
  height: 12em;
  display: block;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#corso-danza::before {
  background: url(../imgs/corsi_image/danza.webp) center/cover;
  content: "";
  height: 12em;
  display: block;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-corso-description {
  flex: 1;
}

.card-corso-description ul li {
  list-style: none;
}

.card-corso-description ul {
  margin-top: 0;
  text-decoration: none;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

.card-corso-description li {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--cardDescription);
}

.card-corso-description a { 
  color: var(--linkColor);
}

.card-corso-description a:visited{
  color: var(--visitedLinkColor);
}

.card-link {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
}

.link-underline {
  text-decoration: underline;
}

/************************/
/* CHI SIAMO */
/************************/

#componenti {
  margin: auto;
  width: 90%;
  padding-top: 1em;
  padding-bottom: 2em;
}

#componenti > dt {
  background-color: var(--backgroundColorComponentiDt);
  color: var(--colorComponentiDt);
  border: 1px solid var(--borderColorComponentiDt);
  padding: 0.5em;
  font-size: 1.5em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  text-align: center;
}

#componenti > dd {
  background-color: var(--backgroundColorComponentiDd);
  border: 1px solid var(--borderColorComponentiDd);
  border-top: none;
  margin-bottom: 1em;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.componente img {
  border-radius: 50%;
  width: 9em;
  height: 9em;
  object-fit: cover;
  object-position: center;
  border: 5px solid var(--borderColorComponenteImg);
  margin: 0.5em 0;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 100));
}

.componente {
  color: var(--colorComponente);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.componente a{
  color: var(--linkColor);
}

.componente a:visited{
  color: var(--visitedLinkColor);
}

.componente dl dd,
.componente dl dt {
  padding: 0.5em 0;
}
.componente dt {
  font-weight: bold;
  padding-left: 0.5em;
  float: left;
}

.componente dd {
  margin-left: 7em;
}

#componenti ul {
  list-style: none;
}

#componenti ul li {
  margin-bottom: 0.5em;
}

.SocialsComponenti {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 1em;
  align-items: end;
  margin-left: -2em;
}

.componente p {
  padding: 1em;
}


/************************/

/* Amministrazione Palestra */

/************************/
ul.container-cards-admin {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 2em;
}

.cards-admin {
  margin: 1em auto;
  width: 60%;
  background: white;
  padding: 1.5em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  max-width: 15em;
}

.container-cards-admin dl {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1em 0em;
}

.container-cards-admin dt {
  color: white;
  background: black;
  padding: 0.2em;
}

.container-cards-admin dd {
  border: 1px solid;
  padding: 0.1em;
}

.cards-admin form, 
.container-cards-admin form {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.cards-admin form fieldset, 
.container-cards-admin form fieldset {
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}



/*!***********************/

/*! PAGINA CONTATTACI */

/*!***********************/
.contactUs-container {
  width: 80%;
  margin: 0 auto;
  max-width: 40em;
}

.contactUs-container p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

.contactUs-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}


.contactUs-form textarea {
  resize: vertical;
  border: 1px solid #000000;
  padding-top: .5em;
  width: 100%;
  height: 12em;
  display: block;
  padding-left: 0.5em;
  border-radius: 1.5em;
}


.contactUs-form button[type="submit"] {
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

label#lbl-message {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/****************/
/* MACCHINARI */
/*****************/

#formMuscleGroup {
  display: flex;
  justify-content: center;
}

#gruppoMuscolare {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--cardBgColor);
  box-shadow: 0 0 2em rgba(122, 0, 0, 100);
  margin: 2em;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

#gruppoMuscolare fieldset {
  border: none;
}

#gruppoMuscolare label[for="gruppoMuscolareSelect"] {
  color: var(--cardTxtColor);
  font-size: 1.2em;
  margin-inline: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#gruppoMuscolare select {
  padding: 0.4em;
  padding-left: 0.3em;
  border-radius: 1.3em;
  text-align: center;
  border: 1px solid var(--borderSelect);
  font-size: 1.2em;
  width: 11em;
}

#gruppoMuscolare button {
  padding: 0.4em;
  border-radius: 2em;
  font-size: 1.2em;
  padding-inline: 2em;
  margin: 1em;
  border: 1px solid var(--borderSelect);
}

.card-macchinario {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2.5em;
  text-decoration: none;
  margin-inline: 1em;
  background-color: var(--cardBgColor);
  box-shadow: 0 0 30px rgba(122, 0, 0, 100);
  margin: 2em auto;
  max-width: 90%;
}

.card-macchinario h3 {
  font-size: 2em;
  text-align: center;
  color: var(--h2TitleCard);
  margin-top: 0.5em;
}

.card-macchinario img {
  max-width: 100%;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
  object-fit: cover; 
  margin-bottom: 1.5em;
}

.card-macchinario-description {
  margin: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.card-macchinario-description p {
  font-size: 1.2em;
  text-align: center;
  color: var(--cardTxtColor);
  margin-top: 1em;
}

.removed-element{
  display: none;
}

/*!***********************/

/*! MEDIA QUERIES */

/*!***********************/

@media (min-width: 320px) {
  .logo {
    max-height: 6em;
    max-width: 7em;
    min-width: 3em;
    width: 100%;
  }

  #cards-container {
    max-width: 800px;
  }

  #container-abbonamento-login > form {
    width: 100%;
  }

  #container-abbonamento-login form {
    min-width: 100%;
  }
}

@media (max-width: 420px) {
  #tabs li {
    min-width: 2.3em;
  }
}

@media (min-width: 600px) {
  ul.container-cards-admin{
    max-width: 60%;
    margin: 1em auto;
  }

  #cards-container {
    max-width: 100%;
  }

  .tb-container {
    margin: 1em 15%;
  }

  #cards-container > ul {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2em;
    justify-content: center;
  }

  .card {
    min-width: 30em;
  }

  .user-data-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  #data-scadenza-cvc {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    width: 100%;
  }

  #container-abbonamento-login .user-data-container {
    max-width: 80%;
  }

  #container-abbonamento-login form {
    min-width: 30em;
  }

  .card-corso-description {
    margin-left: calc(43% + 5em);
  }

  #corso-pilates::before,
  #corso-yoga::before,
  #corso-box::before,
  #corso-danza::before {
    height: 100%;
    width: 50%;
    border-top-left-radius: 2em;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2em;
    position: absolute;
    left: 0;
  }
}

@media (min-width: 660px) {
  #nav-principale ul {
    flex-direction: row;
  }

  #nav-principale ul li {
    flex-grow: 1;
  }
}

@media (min-width: 725px) {
  .schede-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tb-container {
    padding: 0 15%;
  }

  #container-scheda-utente{
    padding: 0 15%;
    margin: 0 auto;
  }

  .schede-container li {
    width: fit-content;
  }

  .scheda {
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #componenti {
    margin: auto;
    width: 95vw;
    padding-top: 1em;
    padding-bottom: 2em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 840px) {
  .logo {
    max-height: 7em;
    width: 100%;
  }

  .card {
    height: 18em;
  }

  #container-abbonamento-login > form {
    max-width: 30em;
  }

  .user-data-container {
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  #form-certificato {
    max-width: 50em;
  }

  #container-abbonamento-login .user-data-container {
    max-width: 35%;
  }
}

@media (min-width: 1300px) {
  #componenti {
    margin: auto;
    width: 95vw;
    padding-top: 1em;
    padding-bottom: 2em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: auto auto;
    grid-column-gap: 1em;
    align-items: center;
    justify-content: center;
  }
}
