@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/static/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-bold';
  src: url('../font/Oswald/static/Oswald-Bold.ttf') format('truetype');
}


:root {
  --background-color: #da6202;
  --headerBackgroundColor: #000000;
  --headerTxtColor: white;
  --closedHamburgerColor: white;
  --openedHamburgerColor: white;
  --closedHamburgerTxtColor: white;
  --openedHamburgerTxtColor: white;

  --HMItemTxtColor: white;
  --HMItemBgColor: #262262;
  --HMItemBgHover: #090816;

  --registerNowBtnBgColor: #7a0000;
  --registerNowBtnBorderColor: black;
  --registerNowBtnTxtColor: white;

  --cardTxtColor: white;
  --cardBgColor: #000;

  --formBtnBgColor: black;
  --formBtnTxtColor: white;
  --formLegendTxtColor: white;

  --bgColor: white;
  --txtColor: black;
  --footerBgColor: black;
  --footerTxtColor: rgb(159, 159, 159);
  --visitedLinkColor: red;
  --headTable: rgb(143, 36, 68);
  --flagColor: orange;
  --linkColor: white;
  --font-body_family: 'Oswald', sans-serif;;

  --breadcrumbBgColor: rgba(122, 0, 0, 100);
  --breadcrumbTxtColor: white;

  --tabsBgColor: rgba(122, 0, 0, 0.55);
  --tabsTxtColor: rgb(255, 255, 255);
  --currentTabBgColor: rgb(122, 0, 0);
  --currentTabTxtColor: white;
  --tabTitleBgColor: rgba(122, 0, 0, 100);
  --tabTitleTxtColor: white;

  --tableHeadBgColor: black;
  --tableHeadTxtColor: white;

  --logoutBtnBgColor: #7a0000;
  --logoutBtnBorderColor: black;

  --errorMessageBgColor: rgb(180, 0, 0);
  --errorMessageTxtColor: white;

  --emptyResultBgColor: black;
  --emptyResultTxtColor: white;

  --paragraphQrBgColor: black;
  --paragraphQrTxtColor: white;

  --pageTitleBgColor: black;
  --pageTitleTxtColor: white;

  --adminPageBackground: #b5a382;
  --metricaBgColor: white;
  --metricaTxtColor: black;
  --metricaBorderColor: rgba(122,0,0,100);
  --metricaTitleBgColor: rgba(122,0,0,100);
  --metricaTitleTxtColor: white;
}

* {
  margin: 0;
  padding: 0;
}
/*
body,
html,
main {
  width: 100%;
  min-width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: var(--font-body_family);
  line-height: 1.5em;
  background-color: var(--background-color);
  overflow-x: hidden;
}

main {
  display: inline;
}*/


html {
  font-size: 100%;
  font-family: var(--font-body_family);
  line-height: 1.5em;
  background-color: var(--background-color);
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
  width: 100vw;
}

main {
  width: 100vw;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/************************/
/* BREADCRUMB */
/************************/
#breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: var(--breadcrumbBgColor);
  color: var(--breadcrumbTxtColor);
}

#breadcrumb ol > li:not(:first-child)::before {
  content: ">";
  padding: 0 0.5em;
}

#breadcrumb ol > li:first-child {
  padding-left: 0.5em;
}

#breadcrumb li {
  display: inline-block;
  padding: 0.5em 0;
}

#breadcrumb a {
  text-decoration: underline;
  color: var(--breadcrumbTxtColor);
}
.container {
  max-width: 100%;
}

/************************/
/* NavBar & Hamburger menu */
/************************/
#nav-principale {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
#nav-principale .container {
  padding: 0 10px;
}
#nav-principale ul {
  background-color: var(--HMItemBgColor);
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  display: flex;
  flex-direction: column;
}
@media (min-width: 848px) {
  #nav-principale ul {
    display: grid;
  }
}
#nav-principale ul li a,
#nav-principale ul li span {
  color: var(--HMItemTxtColor);
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px;
  transition: 0.4s ease-in;
  font-family: var(--font-body_family);
}

#nav-principale ul li span {
  padding: 0;
}

#nav-principale ul li span.active {
  padding: 10px 
}

#nav-principale ul li a:hover,
#nav-principale ul li a:focus {
  background: var(--HMItemBgHover);
}

.logo {
  width: 100%;
  max-height: 10em;
}

.logo-holder {
  width: 25%;
  padding: 1em;
  padding-right: 0.5em;
}

.main-nav {
  width: 100%;
  background: var(--HMItemBgColor);
  grid-column: 1 / span 2;
}
#hamburger {
  margin: 1em;
  margin-top: 1.1em;
  display: flex;
  justify-content: right;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.2em;
  line-height: 1;
}
#hamburger span {
  margin-right: 0.5em;
  color: var(--closedHamburgerTxtColor);
}
#hamburger svg {
  width: 3em;
  height: 3em;
  background: none;
  fill: var(--closedHamburgerColor);
}
#hamburger #expanded {
  display: none;
}
#hamburger[aria-expanded="true"] {
  color: var(--closedHamburgerTxtColor);
}
#hamburger[aria-expanded="true"] svg {
  background-color: transparent;
  fill: var(--openedHamburgerColor);
}
#hamburger[aria-expanded="true"] span {
  color: var(--openedHamburgerTxtColor);
  position: static;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}
#hamburger[aria-expanded="false"] + .main-nav {
  display: none;
}
.js-enabled .main-nav {
  display: none;
}
/* Add the following styles to your existing CSS */
.logo-title-holder {
  display: flex;
  align-items: center;
}
.logo-title-holder .span {
  max-width: 10%;
}
.site-title {
  margin-left: 10px;
  /* Adjust the margin as needed */
  font-family: var(--font-body_family)
  /* Apply the desired font family */
}
#nav-principale .container {
  padding: 10px;
}
/* Additional styles for better alignment */
#nav-principale ul {
  margin: 0;
  padding: 0;
}
#nav-principale ul li {
  list-style: none;
}

/************************/
/* CARDS */
/************************/
.card {
  position: relative;
  display: block;
  width: 100%;
  /*height: 100%;*/
  height: 15em;
  border-radius: 30px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0px 0px 10px rgba(122, 0, 0, 100));
}

.card:active,
.card:focus{
  filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 100));
}

.section {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--cardTxtColor);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#corsi::before {
  background: url("../imgs/courses.jpg") center/cover;
}
#macchinari::before {
  background: url("../imgs/macchinari.jpg") center/cover;
}
#abbonamenti::before {
  background: url("../imgs/courses.jpg") center/cover;
}
#chiSiamo::before {
  background: url("../imgs/chiSiamo.jpg") center/cover;
}
#schede::before {
  background: url("../imgs/schede.png") center/cover;
}

.card .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10%;
  text-align: center;
  background: var(--cardBgColor);
  opacity: 0.8;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 0.5em;
}
.card .description h3 {
  font-size: clamp(2em, 10vw, 3em);
  font-weight: bold;
  color: var(--cardTxtColor);
}
.card .description p {
  font-size: 14px;
  color: var(--cardTxtColor);
  margin: 0px;
}
#cards-container {
  margin: 0 auto 3em auto;
  list-style: none;
  /* display: grid; */
  flex-direction: column;
  /* row-gap: 2%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  /* grid-template-columns: auto; */
}

#cards-container ul {
  margin: 1.5em;
  display: grid;
  row-gap: 1.5em;
  list-style: none;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  padding-bottom: 0.7em;
  margin: 5em 15% 2em 15%;
  row-gap: 1.5em;
  background-color: #ff9947;
  border: 2px solid var(--breadcrumbBgColor);
}

#mainHomePage {
  background: url("../imgs/background-nobg.png") no-repeat center;
  background-position-y: 3em;
}

.normalPageTitle {
  text-align: center;
  width: 100%;
  padding: 1em 0em;
  background-color: var(--pageTitleBgColor);
  color: var(--pageTitleTxtColor);
}

h1.homePageTitle {
  text-align: center;
  text-shadow: -2px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 4em;
  font-family: "Oswald-bold", sans-serif;
}

.titleSection p {
  font-size: 1.5em;
  text-align: center;
}

a.registerNow {
  text-decoration: underline;
  color: var(--registerNowBtnTxtColor);
  background-color: var(--registerNowBtnBgColor);
  border: 1px solid var(--registerNowBtnBorderColor);
  padding: 0.5em;
  font-weight: bold;
}

.index-content{
  padding: 1.5em 0.5em;
  background-color: black;
}

.index-content h2{
  text-align: center;
  color: white;
  font-size: 2em;
  line-height: normal;
  /* padding-bottom: 1em; */
}

.index-content p {
  text-align: center;
  color: white;
  font-size: 1.2em;
  line-height: normal;
  padding-top: 1em;
}
/************************/
/* FOOTER */
/************************/
footer {
  background-color: var(--footerBgColor);
  color: var(--footerTxtColor);
  padding: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  bottom: 0;
}

footer a {
  color: var(--footerTxtColor);
}

footer a:hover {
  text-decoration: underline;
}

#instagram-link {
  background: url("../imgs/footer_logos/instagram.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#facebook-link {
  background: url("../imgs/footer_logos/facebook.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#twitter-link {
  background: url("../imgs/footer_logos/twitter.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#socials ul {
  list-style: none;
}

#socials li {
  display: inline-block;
  padding-right: 0.5em;
}

#socials li:not(:last-child) {
  padding-right: 0.5em;
}


/************************/
/* PAGINA LOGIN */
/************************/

#error-message{
  background-color: var(--errorMessageBgColor);
  color: var(--errorMessageTxtColor);
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em auto;
  width: 80%;
}

.user-data-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.user-data-container > fieldset {
  flex-direction: column;
  border: none;
  row-gap: 2em;
  margin: 1em 0;
}

.user-data-container input {
  width: 100%;
  height: 3em;
  border: none;
  border-top-right-radius: 0.3em;
  padding-right: 0.5em;
  font-size: 1.2em;
  flex-grow: 1;
  text-align: right;
  box-sizing: border-box;
  padding-right: 0.5em;
}


.user-data-container input[type="submit"] {
  text-align: center;
}

.user-data-container legend {
  text-align: center;
  color: var(--formLegendTxtColor);
  font-size: 1.2em;
  font-weight: bold;
}

.confirmButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2em;
  flex-wrap: wrap;
  row-gap: 1em;
}

.submitBtn {
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--formBtnBgColor);
  color: var(--formBtnTxtColor);
  font-size: large;
  flex-grow: 1;
  min-width: 10em;
  text-decoration: none;
}

.confirmButtons p {
  flex-grow: 1;
  text-align: center;
}

#datiPersonali {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* column-gap: 2em; */
  flex: 1 1 0;
}

/************************/
/* PAGINA ABBONAMENTI */
/************************/
section.data-abbonamenti {
  display: flex;
  justify-content: center;
  column-gap: 3em;
}

#Mensile::before {
  background: url("../imgs/abbonamenti_images/Mensile.png") center/cover;
}

#Trimestrale::before {
  background: url("../imgs/abbonamenti_images/Trimestrale.png") center/cover;
}

#Annuale::before {
  background: url("../imgs/abbonamenti_images/Annuale.png") center/cover;
}

/************************/
/* PAGINA PROFILO SCHEDE*/
/************************/

p.empty-result {
  width: 80%;
  text-align: center;
  background: var(--emptyResultBgColor);
  color: var(--emptyResultTxtColor);
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 0.5em;
}

.tabTitle {
  background-color: var(--tabTitleBgColor);
  color: var(--tabTitleTxtColor);
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  width: fit-content;
  border-radius: 0.5em;
}

#schede-utente {
  display: flex;
  justify-content: center;
}

#tabs {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0.7em;
  width: 100%;
}

#tabs li {
  background-color: var(--tabsBgColor);
  padding: 0.7em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid var(--currentTabBgColor);
  flex-grow:1;
  text-align: center;
}

#tabs li a {
  text-decoration: underline;
  color: var(--tabsTxtColor);
}

#tabs .currentTab{
  background-color: var(--currentTabBgColor);
}

.currentTab span {
  color: var(--currentTabTxtColor);
}

#tabSchede::before {
  content: "";
  background-image: url("../imgs/profile_icons/schede.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabAbbonamenti::before {
  content: "";
  background-image: url("../imgs/profile_icons/abbonamenti.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabCertificato::before {
  content: "";
  background-image: url("../imgs/profile_icons/certificato.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabProfilo::before {
  content: "";
  background-image: url("../imgs/profile_icons/profile.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

.schede-container {
  list-style: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.scheda {
  list-style: none;
  margin-bottom: 3em;
}

h4 {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
  text-align: center;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-body_family);
}

table th, table td {
  border: 1px solid var(--headerBackgroundColor);
  text-align: left;
  padding: 10px;
}

table th {
  background-color: var(--headTable);
  color: var(--headerTxtColor);
}

table tr {
  background-color: var(--bgColor);
}

table caption {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
}

/************************/
/* PAGINA PROFILO ABBONAMENTI */
/************************/
.table-abbonamenti {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.table-abbonamenti thead th {
  border-top: none;
  background-color: var(--tableHeadBgColor);
}

.table-abbonamenti thead th:first-child {
  border-left: none;
  border-top-left-radius: 2em;
}

.table-abbonamenti thead th:last-child {
  border-right: none;
  border-top-right-radius: 2em;
}

.table-abbonamenti th:first-child {
  text-align: center;
}

.caption-nascosta {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
}

.tb-container {
  padding: 0 0.5em;
}

/************************/
/* PAGINA PROFILO PROFILO */
/************************/
#logout {
  width: 79%;
  text-align: center;
  margin-top: 1em;
  background-color: var(--logoutBtnBgColor);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  padding: 0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: var(--formBtnTxtColor);
  text-decoration: none;
  border: 1px solid var(--logoutBtnBorderColor);
}

.cancelBtn {
  color: black;
  background-color: white;
  width: inherit;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em 0;
  text-decoration: none;
  border: 1px solid black;
  flex-grow: 1;
}

.form-modifica-psw {
  margin-top: 10%;
}

.qr_code {
  margin: 2em;
  margin-top: 0.5em;
}

#sectionQrCode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionQrCode p {
  text-align: center;
  background-color: var(--paragraphQrBgColor);
  color: var(--paragraphQrTxtColor);
  padding: 0.5em;
  border-radius: 0.5em;
}

.input-field {
  display: grid;
  /* grid-auto-flow: revert; */
  flex-flow: row-reverse;
  /* column-gap: 5em; */
  grid-template-columns: 35% 65%;
  /* flex-grow: 1; */
  margin: 1em 0em;
  border-bottom: 5px solid;
  /* grid-column-gap: 3em; */
}

.input-field label {
  text-align: right;
  /* position: relative; */
  display: flex;
  flex-flow: column;
  justify-content: end;
  /* display: inline; */
  /* top: -4.6em; */
  background-color: white;
  padding: 0.3em;
  /*padding-top: 1.5em;*/
  /* padding-bottom: 0; */
  /* border-radius: 0.3em; */
  /* border-bottom-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
  /* border-top-left-radius: 0.3em; */
  font-weight: bold;
  /* line-height: 3em; */
}

.input-field label:first-child {
  text-align: left;
  /* padding-left: 1em; */
  border-top-left-radius: 0.3em;
}

.input-field label:last-child {
  font-weight: normal;
  font-size: 1.2em;
  border-top-right-radius: 0.3em;
  padding-right: 0.5em;
  padding-top: 0;
  line-height: 2em;
}
/************************/
/* PAGINA PROFILO CERTIFICATO */
/************************/
caption#caption-certificato {
  padding: 0.5em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

/***************************/
/* PAGINA ADMIN landing */
/***************************/

#bodyAdmin {
  background-color: var(--adminPageBackground);
}

ul.container-metriche {
  padding: 1.5em;
  padding-top: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

li.metrica {
  border: 3px solid var(--breadcrumbBgColor);
  padding: 0.5em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 10em;
  min-height: 10em;
  border-radius: 1em;
  background-color: var(--metricaBgColor);
  gap: 1em;
  /*filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 100));*/
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 100);
  overflow: hidden;
}

li.metrica h3 {
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  /*filter: drop-shadow(0px 0px 7px rgba(122, 0, 0, 100));*/
  background-color: var(--metricaTitleBgColor);
  color: var(--metricaTitleTxtColor);
}

li.metrica p {
  text-align: center;
  margin: auto;
  font-size: 4em;
}

li.metrica a {
  text-decoration: underline;
  width: max-content;
  text-align: center;
  color: blue;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 21em;
  max-height: 33em;
}

/************************/
/* MEDIA QUERIES */
/************************/

@media (max-width: 420px) {
  #tabs li {
    min-width: 30px;
  }

}

@media (min-width: 725px) {

  .schede-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tb-container {
    padding: 0 15%;
  }

  .schede-container li {
    width: fit-content;
  }

  .scheda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2em;
  }

}

@media (min-width: 320px) {
  .logo {
    width: 100%;
    max-width: 7em;
    max-height: 6em;
    min-width: 3em;
  }

  #cards-container {
    max-width: 800px;
  }
}

@media (min-width: 840px) {

  .logo {
    width: 100%;
    max-height: 7em;
  }

  #cards-container {
    max-width: 1000px;
    min-height: 1500px;
  }

  .card {
    height: 17em;
  }
}
