:root {
  --background-color: #da6202;
  --headerBackgroundColor: #000000;
  --headerTxtColor: white;
  --closedHamburgerColor: white;
  --openedHamburgerColor: white;
  --closedHamburgerTxtColor: white;
  --openedHamburgerTxtColor: white;

  --HMItemTxtColor: white;
  --HMItemBgColor: #262262;
  --HMItemBgHover: #090816;

  --cardTxtColor: white;
  --cardBgColor: #000;

  --formBtnBgColor: black;
  --formBtnTxtColor: white;
  --formLegendTxtColor: white;

  --bgColor: white;
  --txtColor: black;
  --footerBgColor: black;
  --footerTxtColor: rgb(159, 159, 159);
  --visitedLinkColor: red;
  --headTable: rgb(143, 36, 68);
  --flagColor: orange;
  --linkColor: white;
  --font-body_family: "Roboto Condensed", sans-serif;

  --breadcrumbBgColor: rgba(122, 0, 0, 100);
  --breadcrumbTxtColor: white;

  --tabsBgColor: rgba(122, 0, 0, 0.5);
  --tabsTxtColor: rgba(255, 255, 255, 0.50);
  --currentTabBgColor: rgb(122, 0, 0);
  --currentTabTxtColor: white;

  --tableHeadBgColor: black;
  --tableHeadTxtColor: white;

  --logoutBtnBgColor: #7a0000;
  --logoutBtnBorderColor: black;

  --linkColor: white;
  --cardDescription: white;
  --h2TitleCard: #CF8607;
}

* {
  margin: 0;
  padding: 0;
}

body,
html,
main {
  width: 100%;
  min-width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: var(--font-body_family);
  line-height: 1.5em;
  background-color: var(--background-color);
  overflow-x: hidden;
}

main {
  display: inline;
}

header {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
}

/************************/
/* BREADCRUMB */
/************************/
#breadcrumb {
  display: flex;
  align-items: center;
  padding-left: 1em;
  background-color: var(--breadcrumbBgColor);
  color: var(--breadcrumbTxtColor);
}

#breadcrumb ol > li:not(:first-child)::before {
  content: ">";
  padding: 0 0.5em;
}

#breadcrumb ol > li:first-child {
  padding-left: 0.5em;
}

#breadcrumb li {
  display: inline-block;
  padding: 0.5em 0;
}

#breadcrumb a {
  text-decoration: underline;
  color: var(--breadcrumbTxtColor);
}
.container {
  max-width: 100%;
}

/************************/
/* NavBar & Hamburger menu */
/************************/
#nav-principale {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
#nav-principale .container {
  padding: 0 10px;
}
#nav-principale ul {
  background-color: var(--HMItemBgColor);
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  display: flex;
  flex-direction: column;
}
@media (min-width: 848px) {
  #nav-principale ul {
    display: grid;
  }
}
#nav-principale ul li a,
#nav-principale ul li span {
  color: var(--HMItemTxtColor);
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px;
  transition: 0.4s ease-in;
  font-family: var(--font-body_family);
}

#nav-principale ul li a:hover,
#nav-principale ul li a:focus {
  background: var(--HMItemBgHover);
}

.logo {
  width: 100%;
  max-height: 10em;
}

.logo-holder {
  width: 25%;
  padding: 1em;
  padding-right: 0.5em;
}

.main-nav {
  width: 100%;
  background: var(--HMItemBgColor);
  grid-column: 1 / span 2;
}
#hamburger {
  margin: 1em;
  margin-top: 1.1em;
  display: flex;
  justify-content: right;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.2em;
  line-height: 1;
}
#hamburger span {
  margin-right: 0.5em;
  color: var(--closedHamburgerTxtColor);
}
#hamburger svg {
  width: 3em;
  height: 3em;
  background: none;
  fill: var(--closedHamburgerColor);
}
#hamburger #expanded {
  display: none;
}
#hamburger[aria-expanded="true"] {
  color: var(--closedHamburgerTxtColor);
}
#hamburger[aria-expanded="true"] svg {
  background-color: transparent;
  fill: var(--openedHamburgerColor);
}
#hamburger[aria-expanded="true"] span {
  color: var(--openedHamburgerTxtColor);
  position: static;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}
#hamburger[aria-expanded="false"] + .main-nav {
  display: none;
}
.js-enabled .main-nav {
  display: none;
}
/* Add the following styles to your existing CSS */
.logo-title-holder {
  display: flex;
  align-items: center;
}
.logo-title-holder .span {
  max-width: 10%;
}
.site-title {
  margin-left: 10px;
  /* Adjust the margin as needed */
  font-family: var(--font-body_family)
  /* Apply the desired font family */
}
#nav-principale .container {
  padding: 10px;
}
/* Additional styles for better alignment */
#nav-principale ul {
  margin: 0;
  padding: 0;
}
#nav-principale ul li {
  list-style: none;
}

/************************/
/* CARDS */
/************************/
.card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.section {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--cardTxtColor);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 15px rgba(122, 0, 0, 100));
}
#corsi::before {
  background: url("../imgs/courses.jpg") center/cover;
}
#macchinari::before {
  background: url("../imgs/macchinari.jpg") center/cover;
}
#chiSiamo::before {
  background: url("../imgs/chiSiamo.jpg") center/cover;
}
.card .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 17%;
  text-align: center;
  background: var(--cardBgColor);
  opacity: 0.7;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card .description span {
  font-size: 3em;
  font-weight: bold;
  color: var(--cardTxtColor);
}
.card .description p {
  font-size: 14px;
  color: var(--cardTxtColor);
  margin: 0px;
}
#cards-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#cards-container li {
  width: 97%;
  height: 100%;
}

/************************/
/* FOOTER */
/************************/
footer {
  margin-top: 4em;
  background-color: var(--footerBgColor);
  color: var(--footerTxtColor);
  padding: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  bottom: 0;
}

footer a {
  color: var(--footerTxtColor);
}

footer a:hover {
  text-decoration: underline;
}

#instagram-link {
  background: url("../imgs/footer_logos/instagram.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#facebook-link {
  background: url("../imgs/footer_logos/facebook.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#twitter-link {
  background: url("../imgs/footer_logos/twitter.svg") no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

#socials ul {
  list-style: none;
}

#socials li {
  display: inline-block;
  padding-right: 0.5em;
}

#socials li:not(:last-child) {
  padding-right: 0.5em;
}


/************************/
/* PAGINA LOGIN */
/************************/
.form-login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.form-login-register > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  row-gap: 2em;
  width: 80%;
}

.form-login-register fieldset label {
  text-align: center;
}

.form-login-register input {
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 5px;
  padding-left: 0.5em;
  font-size: large;
}

.form-login-register legend {
  text-align: center;
  margin-bottom: 1em;
  color: var(--formLegendTxtColor);
  font-size: 1.2em;
  font-weight: bold;
}

#confirmButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 2em;
  width: 100%;
}

.submitBtn {
  height: 3em;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  background-color: var(--formBtnBgColor);
  color: var(--formBtnTxtColor);
  font-size: large;
}

#datiPersonali {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#datiPersonali input {
  width: 45%;
}

/************************/
/* PAGINA PROFILO SCHEDE*/
/************************/

#schede-utente {
  display: flex;
  justify-content: center;
}

#tabs {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 1.5em;
  margin-bottom: 0.7em;
  width: 100%;
  padding-bottom: 0;
  border-radius: 0.5em;
}

#tabs li {
  background-color: var(--tabsBgColor);
  padding: 0.7em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border: 1px solid var(--currentTabBgColor);
  flex-grow:1;
  text-align: center;
}

#tabs li a {
  text-decoration: none;
  color: var(--tabsTxtColor);
}

#tabs .currentTab{
  background-color: var(--currentTabBgColor);
}

.currentTab span {
  text-decoration: underline;
  color: var(--currentTabTxtColor);
}

#tabSchede::before {
  content: "";
  background-image: url("../imgs/profile_icons/schede.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabAbbonamenti::before {
  content: "";
  background-image: url("../imgs/profile_icons/abbonamenti.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabCertificato::before {
  content: "";
  background-image: url("../imgs/profile_icons/certificato.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

#tabProfilo::before {
  content: "";
  background-image: url("../imgs/profile_icons/profile.png");
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  min-height: 50%;
}

.schede-container {
  list-style: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.scheda {
  list-style: none;
  margin-bottom: 3em;
}

h4 {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
  text-align: center;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 0.5em;
}

table.esercizio {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-body_family);
}

table.esercizio th, table.esercizio td {
  border: 1px solid var(--headerBackgroundColor);
  text-align: left;
  padding: 10px;
}

table.esercizio th {
  background-color: var(--headTable);
  color: var(--headerTxtColor);
}

table.esercizio tr {
  background-color: var(--bgColor);
}

table.esercizio caption {
  background-color: var(--headerBackgroundColor);
  color: var(--headerTxtColor);
}

/************************/
/* PAGINA PROFILO ABBONAMENTI */
/************************/
.table-abbonamenti {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.table-abbonamenti thead th {
  border-top: none;
  background-color: var(--tableHeadBgColor);
}

.table-abbonamenti thead th:first-child {
  border-left: none;
  border-top-left-radius: 2em;
}

.table-abbonamenti thead th:last-child {
  border-right: none;
  border-top-right-radius: 2em;
}

.table-abbonamenti th:first-child {
  text-align: center;
}

.caption-nascosta {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
}

.tb-container {
  padding: 0 0.5em;
}

/************************/
/* PAGINA PROFILO PROFILO */
/************************/
#logout {
  width: 79%;
  text-align: center;
  margin-top: 1em;
  background-color: var(--logoutBtnBgColor);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  padding: 0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: var(--formBtnTxtColor);
  text-decoration: none;
  border: 1px solid var(--logoutBtnBorderColor);
}

.cancelEdit {
  color: black;
  background-color: white;
  width: inherit;
  text-align: center;
  border-radius: 0.3em;
  padding: 0.5em 0;
  text-decoration: none;
  border: 1px solid black;
}

.form-modifica-psw {
  margin-top: 10%;
}

/************************/
/* MEDIA QUERIES */
/************************/

@media (max-width: 420px) {
  #tabs li {
    min-width: 30px;
  }

}

@media (min-width: 725px) {

  .schede-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tb-container {
    padding: 0 15%;
  }

  .schede-container li {
    width: fit-content;
  }

  .scheda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2em;
  }

}

@media (min-width: 350px) {
  .logo {
    width: 100%;
    max-width: 7em;
    max-height: 6em;
  }

  #cards-container {
    max-width: 800px;
    min-height: 800px;
  }
}
@media (min-width: 840px) {

  .logo {
    width: 100%;
    max-height: 7em;
  }

  #cards-container {
    max-width: 1000px;
    min-height: 1200px;
  }
}

/************************/
/* PAGINA CORSI */
/************************/

#cards-container-corsi {
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2%;
  height: 100%;
  padding: 1em;
  max-width: 800px;
  min-height: 3000px;
}

#cards-container-corsi li {
  width: 97%;
  height: 100%;
}

.card-corso {
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  border-radius: 30px;
  text-decoration: none;
  color: #333;
  margin-left: 1em;
  margin-right: 1em;
  background-color: black;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(122, 0, 0, 100);
}

.card-corso-image {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 0px 0px;
}

.card-corso-description h2 {
  display: block;
  text-align: center;
  font-size: 200%;
  margin-top: 0.5em;
  color: var(--h2TitleCard);
}

.card-corso-description h3 {
  font-size: 1.4em;
  padding-bottom: 1%;
  padding-top: 4%;
}

#emoji-man-cartwheeling::before {
  content: "🤸‍♂️";
}

#emoji-man-cartwheeling::after {
  content: "🤸‍♂️";
}

#emoji-man-lifting-weights::before {
  content: "🏋";
}

#emoji-man-lifting-weights::after {
  content: "🏋";
}

.emoji-person::before {
  content: "👱";
}

.emoji-person::after {
  content: "👵";
}

#emoji-person-in-lotus-position::before {
  content: "🧘";
}

#emoji-person-in-lotus-position::after {
  content: "🧘";
}

#emoji-trophy::before {
  content: "🏆";
}

#emoji-trophy::after {
  content: "🏆";
}

#emoji-boxing-glove::before {
  content: "🥊";
}

#emoji-boxing-glove::after {
  content: "🥊";
}

#emoji-wrestling::before {
  content: "🤼";
}

#emoji-wrestling::after {
  content: "🤼";
}

#emoji-ballet-shoes::before {
  content: "🩰";
}

#emoji-ballet-shoes::after {
  content: "🩰";
}

#emoji-woman-dancing::before {
  content: "💃";
}

#emoji-woman-dancing::after {
  content: "💃";
}

#emoji-man-dancing::before {
  content: "🕺";
}

#emoji-man-dancing::after {
  content: "🕺";
}

#immagine-corso-pilates {
  background: url("../imgs/corsi_image/pilates.jpg") center/cover;
  content: "";
}

#immagine-corso-yoga {
  background: url("../imgs/corsi_image/yoga.jpg") center/cover;
  content: "";
}

#immagine-corso-box {
  background: url("../imgs/corsi_image/box.jpg") center/cover;
  content: "";
}

#immagine-corso-danza {
  background: url("../imgs/corsi_image/danza.jpg") center/cover;
  content: "";
}
.card-corso-description {
  flex: 1;
}

.card-corso-description ul li {
  list-style: none;
}

.card-corso-description ul {
  margin-top: 0;
  text-decoration: none;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.9em;
}

.card-corso-description li {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--cardDescription);
}

.card-corso-description a {
  color: var(--linkColor);
}

.card-link {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
  
}

.link-underline {
  text-decoration: underline;
}

@media (min-width: 601px) {
  #cards-container-corsi {
    max-width: 1000px;
    min-height: 2100px;
  }
  .card-corso {
    flex-direction: row;
  }
  .card-corso-image {
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
  }
  .card-corso-description h2 {
    margin-top: 0em;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .card-corso-description ul {
    margin-top: 5%;
  }

  .card-corso-description li {
    padding-bottom: 3%;
  }
}