:root{
    --text-color: var(--text-color);
}

* {
    color: var(--text-color);
    filter: none;
    box-shadow: none;
}

body {
   grid-template-rows: auto 100% auto;
   height: 100%;
}

#nav-principale ul li a,
#nav-principale ul li > span {
  color: var(--text-color);
}

h1.homePageTitle {
  font-family: var(--font-body-family);
  font-size: 2em;
  text-align: center;
  text-shadow: none;
}

.normalPageTitle {
    color: var(--text-color);
}

.titleSection {
   margin: 0 auto;
  font-size: 1em;
  border: 1px solid var(--text-color);
}

.card {
  display: block;
  filter: none;
  text-decoration: none;
  height: 7em;
  color: var(--text-color);
}

.card .description,
.card .description h3,
.card .description h2, 
.card .description p {
    color: var(--text-color);
    opacity: 1;
}

.card-corso {
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    justify-content: center;
    border: 1px solid var(--text-color);
}

.card-corso-description h2{
    color: var(--text-color);
}

.card-corso-description {
    width: 20em;
    margin: 0;
}

#corso-yoga::before,
#corso-pilates::before,
#corso-box::before,
#corso-danza::before {
    display: none;
}

.card-corso-description ul {
    margin-top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0;
  }

#cards-container *::before,
#cards-container *::after {
    display: none;
}

#cards-container {
    display: flex;
    margin: 0 auto;
    font-weight: normal;
}

.componente img {
    filter: grayscale(100%);
}

#componenti > dt {
    color: var(--text-color);
}

.submitBtn{
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.user-data-container a {
    color: var(--text-color);
}

#tabs .currentTab {
    background-color: var(--text-color);
}

#tabs li a {
    color: var(--text-color);
    text-decoration: underline;
}

.schede-container h2 {
    color: var(--text-color);
}

.schede-container caption{
    color: var(--text-color);
}

.table-abbonamenti{
    border: 1px solid var(--text-color);
}

#tabAbbonamenti::before,
#tabSchede::before,
#tabCertificato::before,
#tabProfilo::before {
    display: none;
}

li.metrica {
    border: 1px solid var(--text-color);
    box-shadow: none;
}

footer *::before {
    display: none;
}

#socials ul {
    display: flex;
}

/****************/
/* MACCHINARI */
/*****************/

.card-macchinario{
    display: block;
    filter: none;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: none;
    margin: 0 auto;
}

.card-macchinario h3{
    color: var(--text-color);
}

.card-macchinario img{
    filter: grayscale(100%);
}

#gruppoMuscolare{
    display: block;
    filter: none;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: none;
    margin: 1em auto;
}

#gruppoMuscolare select{
    border: none;
}

#gruppoMuscolare button {
  border: none;
  margin: 1em;
}
